* {
	margin : 0;
	padding : 0;
}

body {
	background: #325cb2;
}

.wrap {
	width: 600px;
	margin: 0 auto;
	padding: 50px;
	box-sizing: border-box;
	background: #fff
}

.wrap h1 {
	padding-bottom: 12px;
	border-bottom: 3px solid #000;
	font-size: 32px;
	letter-spacing: -2px;
}

.wrap form {
	margin-top: 30px;
}

.wrap dl:first-child {
	margin-top:0;
}

.wrap dl {
	margin-top: 10px;
	font-size: 0;
}

.wrap dt,
.wrap dd {
	vertical-align: middle;
	display: inline-block;
	font-size: 14px;
}

.wrap dt {
	width: 25%;
}
.wrap dd {
	width: 75%;
}
.wrap input[type="text"],
.wrap input[type="password"],
.wrap input[type="tel"],
.wrap input[type="email"],
.wrap select{
	padding: 10px;
	border: 1px solid #ccc
	border-radius: 2px;
}

.wrap input[type="button"]{
	padding: 6px 10px;
	border: 0;
	border-radius: 2px;
	background: #325cb2;
	font-weight: 600;
	color: #fff;
	cursor: pointer;	
}

.wrap textarea{
	width: 100%;
	height:300px;
	padding: 10px;
	box-sizing: border-box;
	resize: vertical;
}

.wrap input[type="submit"] {
	display: block;
	margin: 30px auto 0 auto;
	padding: 16px 50px;
	border: 0;
	border-radius: 100px;
	background: #325cb2;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
}